<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${todo}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    Task :<input type="text" th:field="*{task}" />
    <span th:if="${#fields.hasErrors('task')}"
          th:errors="*{task}"></span><br />
    Details :<textarea rows="3" th:field="*{details}" />
    <span th:if="${#fields.hasErrors('details')}"
          th:errors="*{details}"></span><br />
    Priority :<input type="text" th:field="*{priority}" />
    <span th:if="${#fields.hasErrors('priority')}"
          th:errors="*{priority}"></span><br />
    Due: <input type="text" th:field="*{due}" /><br />
    <span th:if="${#fields.hasErrors('due')}"
          th:errors="*{due}"></span><br />
    <br />
    <input type="submit" value="Schedule" />
</form>
</body>
</html>